# 忽略所有压缩包文件（防止上传 Gtihub 时因超出 100MB 限制而报错）
*.zip
*.tar.gz
*.tar

# 忽略本地保存的救砖镜像、路由器备份包及大文件目录
/router_clean_backup/
/B站大神教程所需的硬盘映像文件/
/USB救砖文件20240510/
/京东云AX1800-Pro亚瑟_AX6600雅典娜USB救砖/
/京东云AX1800Pro/
/亚瑟ax1800+自编译固件/
/可能会用到的工具软件/

# 忽略设计效果图和说明书
*.png
luci_md3_theme_design.md
